<header class="main-header">
    <a href="#" class="logo">
        <span class="logo-mini"><b>A</b>SRV</span>
        <span class="logo-lg"><b>Account</b>Server</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="https://avatars3.githubusercontent.com/u/3729515?v=3&s=460" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{admin.fullName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="https://avatars3.githubusercontent.com/u/3729515?v=3&s=460" class="img-circle" alt="User Image">
                            <p>
                                {{admin.fullName}} - NodeJS Developer
                                <small>Member since Nov. 2015</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>