<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }
    .example-modal .modal {
        background: transparent !important;
    }
</style>

<section class="content">
    -> TODO: CRUD view
  <div class="row">
    {{#each apps}}
      {{this.name}}<br>
    {{/each}}
  </div>
</section>